[Unit]
Description=MeetingRecorder Pi
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/meetingrecorder
ExecStart=/home/pi/meetingrecorder/venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target
